%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: flex;
	}
}

._icon-droplet:before {
  content: "\e90b";
}
._icon-sun:before {
  content: "\e9d4";
}
._icon-cancel-circle:before {
  content: "\e900";
}