//====================================================================================================
.footer {
  padding: rem(40) rem(20);

  // .footer__container
  &__container {
  }
  // .footer__title
  &__title {
    text-align: center;
    font-size: rem(24);
    font-weight: 600;
    line-height: math.div(24 , 18);
    color: #000;
    margin-bottom: rem(5);
  }
  // .footer__subtitle
  &__subtitle {
    text-align: center;
    font-size: rem(24);
    font-weight: 600;
    line-height: math.div(24 , 18);
    color: #000;
    margin-bottom: rem(20);
  }
  // .footer__subSubtitle
  &__subSubtitle {
    text-align: center;
    font-size: rem(24);
    font-weight: 600;
    line-height: math.div(24 , 18);
    color: #000;
    margin-bottom: rem(5);
  }
  // .footer__text
  &__text {
    text-align:justify;
    font-size: rem(18);
    line-height: math.div(18 , 18);
    color: #000;
    div{
      &:not(:last-child) {
        margin-bottom: rem(10);
      }
    }
  }
}

//====================================================================================================
