//====================================================================================================

.page {
  // .page__container
  &__container {
  }
}
.main {
 
  margin: auto;
  position: relative;
  display: flex;
  // .main__video
  &__video {
    width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: auto;
  z-index: -1;
  }
  // .main__text
  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: rem(180);
    margin-left: rem(50);
    max-width: 50%;
  }
  // .main__title
  &__title {
    font-size: rem(58);
    line-height: math.div(58 , 34);
    font-weight: 600;
  }
  // .main__subtitle
  &__subtitle {
    margin-top: rem(10);
    font-size: rem(38);
    line-height: math.div(38 , 34);
    font-weight: 600;
  }
  // .main__button
  &__button {
align-self: center;
    margin-top: rem(50);
    background-color: #C2D29C;
    padding: 20px 30px;
    border-radius: 10px;
    color: #4D354D;
    font-size: rem(28);
    line-height: math.div(28 , 34);
    transition: background-color color 0.3s ease 0s;
    margin-bottom: rem(10);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    @media (any-hover: hover){
      &:hover{
        background-color: #c2d29c8c;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

        color: #241a24;
      }
    }
  }
}



//====================================================================================================
