//====================================================================================================

.page {
  // .page__container
  &__container {
  padding: 0 ;
    
  }
}
.main {
 
  
  &__items{
    margin: auto;
    position: relative;
    display: flex;
  }
  // .main__video
  &__video {
    width: 100%;
  margin: auto;
  z-index: -1;
  }
  // .main__text
  &__text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: rem(180);
    margin-left: rem(90);
    max-width: 50%;
    @media (max-width:$tablet){
      margin-top: rem(120);
    }
    @media (max-width:$mobile){
       margin-top: rem(80); 
    }
    @media (max-width:573px){
       margin-top: rem(50); 
    }
    @media (max-width:$mobileSmall){
       margin-top: rem(40);
       max-width: 45%; 
       margin-left: rem(20);
    }
  }
  // .main__title
  &__title {
    font-size: rem(58);
    line-height: math.div(58 , 34);
    font-weight: 600;
    @media (max-width:$mobile){
       font-size: rem(40); 
       line-height: math.div(40 , 34);
    }
    @media (max-width:573px){
      font-size: rem(30);
      line-height: math.div(30 , 34);
   }
   @media (max-width:$mobileSmall){
     font-size: rem(24); 
   }
  }
  // .main__subtitle
  &__subtitle {
    margin-top: rem(10);
    font-size: rem(38);
    line-height: math.div(38 , 34);
    font-weight: 600;
    @media (max-width:$mobile){
       font-size: rem(30);
       line-height: math.div(30 , 18); 
    }
    @media (max-width:573px){
      font-size: rem(24);
      line-height: math.div(22 , 22);
   }
   @media (max-width:$mobileSmall){
     font-size: rem(18);
     line-height: math.div(20 , 20); 
   }
  }
  // .main__button
  &__button {
align-self: center;
    margin-top: rem(80);
    background-color: #C2D29C;
    padding: 30px 40px;
    border-radius: 10px;
    color: #4D354D;
    font-size: rem(28);
    line-height: math.div(28 , 34);
    transition: background-color color 0.3s ease 0s;
    margin-bottom: rem(10);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    @media (any-hover: hover){
      &:hover{
        background-color: #c2d29c8c;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

        color: #241a24;
      }
    }
    @media (max-width:$tablet){
      margin-top: rem(50);
    }
    @media (max-width:$mobile){
    padding: 20px 30px;

       margin-top: rem(30);
       align-self: flex-start; 
    }
    @media (max-width:$mobileSmall){
      margin-top: rem(20);
       
    padding: 15px 25px;
    font-size: rem(20);

    }
    @media (max-width:354px){
      margin-top: rem(15);
       
    padding: 10px 20px;
    font-size: rem(20);

    }
  }
}



//====================================================================================================

.problem {
  background: -webkit-linear-gradient(180deg, #e7e5e6,#9bf6c8,#59d2f4);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(180deg, #e7e5e6,#9bf6c8,#59d2f4);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
  padding: rem(40) rem(20);
  // .problem__block
  &__block {
  }
  &__title{
    margin-bottom: rem(40);
    text-align: center;
    font-size: rem(38);
    line-height: math.div(38 , 34);
    font-weight: 600;
    @media (max-width:$mobile){
       font-size: rem(30);
       line-height: math.div(30 , 18); 
       margin-bottom: rem(20);
    }
    @media (max-width:573px){
      font-size: rem(24);
      line-height: math.div(22 , 22);
   }
   @media (max-width:$mobileSmall){
     font-size: rem(22);
     line-height: math.div(20 , 20); 
   }
  }
  // .problem__title
  &__subTitle {
    text-align: center;
    font-size: rem(30);
    line-height: math.div(30 , 24);
    font-weight: 600;
    margin: 0 10px;
    @media (max-width:$tablet){
      font-size: rem(24);
    }
    @media (max-width:$mobile){
       font-size: rem(20); 
    }
  }
  // .problem__items
  &__items {
    margin-top: rem(40);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width:$tablet){
       margin-top: rem(20); 
    }
    @media (max-width:$mobileSmall){
       margin-top: rem(10); 
    }
  }
  // .problem__item
  &__item {
    text-align: center;
    
  }
  &__image-group{
    position: relative;
    svg{
      width: rem(150);
      height: rem(150);
    }
  }
  // .problem__text
  &__text {
    margin-top: rem(10);
    font-size: rem(30);
    @media (max-width:$tablet){
      font-size: rem(28);
    }
    @media (max-width:$mobile){
       font-size: rem(24); 
    }
  }
}

//====================================================================================================


.advantage {
  position: relative;
  padding: rem(40) rem(20);
  // .advantage__img-texture
  &__img-texture {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: scaleX(-1);
  }
  // .advantage__block
  &__block {
  }
  &__title{
    margin-bottom: rem(40);
    text-align: center;
    font-size: rem(38);
    line-height: math.div(38 , 34);
    font-weight: 600;
    @media (max-width:$mobile){
       font-size: rem(30);
       line-height: math.div(30 , 18); 
       margin-bottom: rem(20);
    }
    @media (max-width:573px){
      font-size: rem(24);
      line-height: math.div(22 , 22);
   }
   @media (max-width:$mobileSmall){
     font-size: rem(22);
     line-height: math.div(20 , 20); 
   }
  }
  // .advantage__title
  &__subTitle {
    text-align: center;
    font-size: rem(30);
    line-height: math.div(30 , 24);
    font-weight: 600;
    margin: 0 10px;
    @media (max-width:$tablet){
      font-size: rem(24);
    }
    @media (max-width:$mobile){
       font-size: rem(20); 
    }
    @media (max-width:$mobileSmall){
       font-size: rem(18); 
    }
  }
  // .advantage__img-block
  &__img-block {
    margin: rem(60) rem(20) 0 rem(20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width:$tablet){
       flex-direction: column; 
    }
    @media (max-width:$mobile){
    margin: rem(40) rem(20) 0 rem(20);
    }
    @media (max-width:$mobileSmall){
    margin: rem(20) rem(10) 0 rem(10);
        
    }
  }
  // .advantage__items
  &__items {
    max-width: 60%;
    @media (max-width:$tablet){
      max-width: 90%;
      margin-top: rem(30);
    }
  }
  // .advantage__item
  &__item {
    font-size: rem(28);
    line-height: math.div(28 , 24);
    display: flex;
    align-items: center;
    gap: 10px;
    &:last-child{
      margin: 20px 0px 0px 0px;
      &::before{
        font-size: rem(36);
        color: #f9d71c;
      }
    }
    &:first-child{
      &::before{
        font-size: rem(36);
        color: #00ffff;
      }
    }
    @media (max-width:$mobile){
       font-size: rem(24); 
    }
    @media (max-width:$mobileSmall){
       font-size: rem(18); 
    }
  }
}

//========================================================================================================================================================

.compound {
  background: -webkit-linear-gradient(0deg, #fee1e9,#edd5e1,#d4eaee);
  background: linear-gradient(0deg, #fee1e9,#edd5e1,#d4eaee);
  padding: rem(40) rem(20);
  @media (max-width:$mobile){
    padding-top: rem(20); 
  }
  &__title{
    margin-bottom: rem(40);
    text-align: center;
    font-size: rem(38);
    line-height: math.div(38 , 34);
    font-weight: 600;
    @media (max-width:$mobile){
       font-size: rem(30);
       line-height: math.div(30 , 18); 
       margin-bottom: rem(20);
    }
    @media (max-width:573px){
      font-size: rem(24);
      line-height: math.div(22 , 22);
   }
   @media (max-width:$mobileSmall){
     font-size: rem(22);
     line-height: math.div(20 , 20); 
   }
  }
  // .compound__block
  &__block {
    display: flex;
    padding: 0 rem(20);
    align-items: center;
    @media (max-width:$tablet){
      flex-direction: column;
      align-items: center;
    }
  }
  // .compound__img
  &__img {
    width: rem(600);
    @media (max-width:$tablet){
      width: 50%;
    }
  }
  // .compound__text
  &__text {
    font-size: rem(28);
    line-height: math.div(28 , 24);
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (max-width:$mobile){
       text-align: center;
       font-size: rem(20); 
    }
    @media (max-width:$mobileSmall){
       font-size: rem(18); 
    }
  }
  &__gif{
    align-self: center;
    border: 5px #fff solid;
    @media (max-width:$mobile){
       display: none; 
    }
  }
}

//========================================================================================================================================================

.howUse {
  padding: rem(40) rem(20);

  background: -webkit-linear-gradient(180deg, #fee1e9,#d4eaee);
  /* Chrome 10-25, Safari 5.1-6 */                          
  background: linear-gradient(180deg, #fee1e9,#d4eaee);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
  // .howUse__title
  &__title{
    margin-bottom: rem(40);
    text-align: center;
    font-size: rem(38);
    line-height: math.div(38 , 34);
    font-weight: 600;
    @media (max-width:$mobile){
       font-size: rem(30);
       line-height: math.div(30 , 18); 
       margin-bottom: rem(20);
    }
    @media (max-width:573px){
      font-size: rem(24);
      line-height: math.div(22 , 22);
   }
   @media (max-width:$mobileSmall){
     font-size: rem(22);
     line-height: math.div(20 , 20); 
   }
  }
  // .howUse__block
  &__block {
    display: flex;
    gap: 40px;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  // .howUse__item
  &__item {
    text-align: center;
    max-width: rem(300);
    @media (max-width:$tablet){
      max-width: rem(45%);
    }
    @media (max-width:$mobileSmall){
       min-width: rem(300); 
    }
  }
  // .howUse__ico
  &__ico {
    text-align: center;
    position: relative;
  }
  // .howUse__circle
  &__circle {
    margin-right: auto;
    margin-left: auto;
    background: #fff;
    border-radius: 50%;
    width: rem(200);
    height: rem(200);
    border: 5px solid #4D354D;
  }
  // .howUse__svg
  &__svg {
    fill: #4D354D;
    width: 100%;
    height: 100%;
    padding: 25px;
  }
  // .howUse__num
  &__num {
    position: absolute;
    top: 0;
    left: 0;
    font-size: rem(60);
    margin-left: rem(10);
    color: #4c6e26;
    font-weight: 600;
  }
  // .howUse__text
  &__text {
    margin-top: rem(30);
    font-size: rem(22);
    line-height: math.div(22 , 18);
    margin-bottom: rem(40);
    @media (max-width:$mobile){
      font-size: rem(20); 
   }
    @media (max-width:$mobileSmall){
      font-size: rem(18); 
   }
  }
}

//========================================================================================================================================================

.choise {
  padding: rem(40) rem(20);

  &__title{
    margin-bottom: rem(40);
    text-align: center;
    font-size: rem(38);
    line-height: math.div(38 , 34);
    font-weight: 600;
    @media (max-width:$mobile){
       font-size: rem(30);
       line-height: math.div(30 , 18); 
       margin-bottom: rem(20);
    }
    @media (max-width:573px){
      font-size: rem(24);
      line-height: math.div(22 , 22);
   }
   @media (max-width:$mobileSmall){
     font-size: rem(22);
     line-height: math.div(20 , 20); 
   }
  }
  // .choise__block
  &__block {
    margin: 0 10px;
    display: flex;
    justify-content: space-around;
    gap: 40px;
    flex-wrap: wrap;
  }
  // .choise__item
  &__item {
    padding: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
    align-items: center;
    max-width: 48%;
    @media (max-width:$tablet){
      max-width: 90%;
    }
    @media (max-width:$mobileSmall){
       padding: 10px; 
    }
}
  // .choise__gif
  &__gif {
    @media (max-width:578px){
        width: 90%;
    }
  }
  // .choise__text
  &__text {
    margin-top: rem(30);
    li{
    display: flex;
    gap: 10px;
    @include adaptiveValue("font-size", 22, 18);
    line-height: math.div(22 , 18);
    align-items: center;
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
    @media (max-width:$mobile){
      font-size: rem(20); 
   }
    @media (max-width:$mobileSmall){
      font-size: rem(16); 
   }
    }
  }
}

//========================================================================================================================================================

.review {
  background: url('@img/reviewbg.jpg') 0 0 no-repeat;
  padding: rem(40) rem(20);
<<<<<<< HEAD
  background-size: 100% !important;
=======
  background-size: 100%;
>>>>>>> 790299270f779565c3ee00f3a77f5be9f43a9993
  &__mainTitle{
    margin-bottom: rem(40);
    text-align: center;
    font-size: rem(38);
    line-height: math.div(38 , 34);
    font-weight: 600;
    @media (max-width:$mobile){
       font-size: rem(30);
       line-height: math.div(30 , 18); 
       margin-bottom: rem(20);
    }
    @media (max-width:573px){
      font-size: rem(24);
      line-height: math.div(22 , 22);
   }
   @media (max-width:$mobileSmall){
     font-size: rem(22);
     line-height: math.div(20 , 20); 
   }
  }
  // .review__block
  &__block {
    padding: 0 rem(20);
  }
  // .review__slider
  &__slider {
  }
  // .review__wrapper
  &__wrapper {
  }
  // .review__slide
  &__slide {
    display: flex;
    justify-content: space-between;
    align-items: start;
    @media (max-width:$tablet){
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }
  // .review__card
  &__card {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: rem(20) rem(20);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    max-width: 48%;
    height: 250px;
    @media (max-width:$tablet){
      max-width: 80%;
    }
    @media (max-width:$mobile){
       max-width: 95%;
       flex-direction: column;
       height: rem(300);
    }
  }
  // .review__photo
  &__photo {
    margin-right: rem(20);
    width: rem(100);
    height: rem(100);
    border-radius: 50%;
    @media (max-width:$mobile){
      margin: 0;
    }
  }
  // .review__item
  &__item {
    display: flex;
    flex-direction: column;
    @media (max-width:$mobile){
       margin-top: rem(20); 
    }
    @media (max-width:$mobileSmall){
       margin-top: rem(10); 
    }
  }
  // .review__title
  &__title {
    margin-bottom: rem(20);
    display: flex;
    justify-content: space-between;
    @media (max-width:$mobileSmall){
       margin-bottom: rem(5);
    }
  }
  // .review__name
  &__name {
    font-size: rem(22);
    font-weight: 600;
    @media (max-width:$mobile){
       font-size: rem(20); 
    }
    @media (max-width:$mobileSmall){
       font-size: rem(16); 
    }
  }
  // .review__stars
  &__stars {
    display: flex;
    color: gold;
  }
  // .review__text
  &__text {
    font-size: rem(19);
    @media (max-width:$mobile){
       font-size: rem(18); 
    }
    @media (max-width:$mobileSmall){
       font-size: rem(16); 
    }
  }
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-pagination {

}

//========================================================================================================================================================
.test{
  background: -webkit-linear-gradient(0deg, #ecbea2,#c8eeed);
  background: linear-gradient(0deg, #ecbea2,#c8eeed);
}

.work {
  padding: rem(40) rem(20);

  // .work__title
  &__title {
    margin-bottom: rem(40);
    text-align: center;
    font-size: rem(38);
    line-height: math.div(38 , 34);
    font-weight: 600;
    @media (max-width:$mobile){
       font-size: rem(30);
       line-height: math.div(30 , 18); 
    }
    @media (max-width:573px){
      font-size: rem(24);
      line-height: math.div(22 , 22);
   }
   @media (max-width:$mobileSmall){
     font-size: rem(20);
     line-height: math.div(20 , 20); 
   }
  }
  // .work__block
  &__block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    @media (max-width:$tablet){
      flex-direction: column;
    }
  }
  // .work__item
  &__item {
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: rem(270);
    @media (max-width:$tablet){
      height: auto;
      max-width:none;
      width: 90%;
      align-items: center;
    }
  }
  // .work__img
  &__img {
    width: 300px;
  }
  // .work__text
  &__text {
    text-align: center;
    margin-top: rem(20);
    font-size: rem(22);
    line-height: math.div(22 , 18);
  }
  &__text2 {
    font-weight: 600;
      
    }
    &__text3 {
      font-weight: normal;
        
      }
}
._icon-circle-right{
  font-size: rem(50);
  @media (max-width:$tablet){
     transform: rotate(90deg); 
     margin-top: rem(20);
     margin-bottom: rem(20);
  }
}

//========================================================================================================================================================

.form {
  padding: rem(40) rem(20);

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @media (max-width:$mobile){
     flex-direction: column; 
  }
  // .form__img
  &__img {
    @media (max-width:$tablet){
      width: rem(450);
    }
    @media (max-width:$mobileSmall){
       width: rem(320); 
    }
  }
  // .form__block
  &__block {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: rem(400);
    @media (max-width:$tablet){
      max-width: auto;
    }
  }
  // .form__title
  &__title {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: rem(24);
    line-height: math.div(24 , 18);
  }
  // .form__oldPrice
  &__oldPrice {
    font-size: rem(20);
    text-decoration:line-through;
    color: rgb(201, 196, 196);
  }
  // .form__newPrice
  &__newPrice {
    font-size: rem(26);
    font-weight: 600;
    color: #59d2f4;
  }
  // .form__sub
  &__sub {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #717dc0;
    width: 100%;
  }
  &__discount {
    width: rem(100);
    margin-right: rem(20);
    margin-left: rem(20);
  }
  // .form__text
  &__text {
    color: #fff;
    font-size: rem(20);
  }
  // .form__form
  &__form {
    padding: 30px 10px;
    width: 100%;
    background-color: #fff;
    input{
      border: 1px solid rgb(95, 95, 95);
      width: 100%;
      margin-bottom: rem(20);
      padding: 10px;
      font-size: rem(20);
      border-radius: 5px;
    }
  }
  // .form__button
  &__button {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
  }
}
